.contGeneral{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: white;
}

.cardClick{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 100px 0;
    box-shadow: 3px 3px 5px grey;
}

.imagenClick{
    width: 500px;
    height: 500px;
}

.contDetalleClick{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    text-align: center;
}

.precioDetalle{
    font-weight: 800;
    margin-top: 10px;
}

.descripcion{
    width: 80%;
    margin-top: 10px;

}

.botonDetalle{
    margin: 10px;
    background: #121212;
    color: white;
    border: none;
    padding: 15px 20px;
    font-weight: 600;
    cursor: pointer;
}