.contenedorGeneral {
    height: 100%;
    display: flex;
}

.contenedorCarrito {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.carrito {
    height: 45px;
    width: 45px;
    display: flex;
}

.contadorCarrito{   
    background: #00c3ff;
    color: white;
    padding: 2px 8px;
    border-radius: 30px;
}