.card {
    width: 30%;
    background: white;
    box-shadow: 3px 3px 5px grey;
    margin: 20px;
}

.card img {
    width: 300px;
    border-radius: 2px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.precioItem {
    color: #0c0c0c;
    font-weight: 800;
}

.tituloItem {
    width: 90%;
    border-bottom: 1px solid #bdbdbd;
    color: #0c0c0c;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.verMas{
    margin: 10px 0;
    background: #0c0c0c;
    color: white;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}