*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-nav {
  height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Navbar-Contenedor {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.NavLinks {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavLinks ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.NavLinks ul li {
  display: flex;
  list-style: none;
}

.NavLinks ul li a {
  text-decoration: none;
  color: white;
  transition: all .5s ease;
}

.NavLinks ul li a:hover {
  color: deepskyblue;
}

.NavLinks ul li a:active{
  color: deepskyblue;
}

.Boton {
  background-color: #282c34;
  padding: 1em 2em 1em 2em;
  color: white;
  cursor: pointer;
  transition: all .5s ease;
}

.Boton:hover {
  cursor: pointer;
  background-color: deepskyblue;
}