.restarSumar{
    background: #212121;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 0;
    cursor: pointer;
}

.unidades{
    font-size: 12px;
    margin-top: 10px;
    background: rgb(211, 211, 211);
    padding: 5px 10px;
}

.agregar{
    margin-top: 10px;
    background: #121212;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}